body {
  margin: 0;
  line-height: normal;
}

:root {
  --color-azure: rgba(227, 246, 245, 0.3);
  --color-darkslategray-100: rgba(5, 46, 76, 0.05);
  --color-darkslategray-200: rgba(5, 46, 76, 0.2);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: rgba(230, 230, 230, 0.09);
  --color-gray-100: #262626;
  --color-gray-200: rgba(255, 255, 255, 0.5);
  --color-gray-300: rgba(0, 0, 0, 0.6);
  --color-gray-400: rgba(0, 0, 0, 0.4);
  --color-gray-500: rgba(255, 255, 255, 0.1);
  --color-gray-600: rgba(255, 255, 255, 0.05);
  --color-palevioletred: #b84c74;
  --color-whitesmoke: #f3f6f7;
  --dark-blue: #052e4c;
  --dark-green: #417a82;
  --fuchsia: #d1668f;
  --light-green: #e3f6f5;
  --white: #fff;

  --gap-0: 0px;
  --gap-6: 6px;
  --gap-10: 10px;
  --gap-12: 12px;
  --gap-14: 14px;
  --gap-15: 15px;
  --gap-16: 16px;
  --gap-18: 18px;
  --gap-20: 20px;
  --gap-22: 22px;
  --gap-24: 24px;
  --gap-30: 30px;
  --gap-32: 32px;
  --gap-40: 40px;
  --gap-43: 43px;
  --gap-48: 48px;
  --gap-182: 182px;
  --gap-1_95: 1.95px;

  --padding-0: 0px;
  --padding-1: 1px;
  --padding-2: 2px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-6: 6px;
  --padding-8: 8px;
  --padding-10: 10px;
  --padding-11: 11px;
  --padding-12: 12px;
  --padding-16: 16px;
  --padding-20: 20px;
  --padding-22: 22px;
  --padding-23: 23px;
  --padding-24: 24px;
  --padding-25: 25px;
  --padding-26: 26px;
  --padding-27: 27px;
  --padding-28: 28px;
  --padding-32: 32px;
  --padding-36: 36px;
  --padding-40: 40px;
  --padding-41: 41px;
  --padding-44: 44px;
  --padding-48: 48px;
  --padding-55: 55px;
  --padding-72: 72px;
  --padding-80: 80px;
  --padding-88: 88px;
  --padding-100: 100px;
  --padding-128: 128px;
  --padding-130: 130px;
  --padding-12_5: 12.5px;
  --padding-21_3: 21.3px;
  --padding-7_4: 7.4px;

  --br-20: 20px;
  --br-50: 50%;

  --font-cormorant: Cormorant;
  --font-cormorant-infant: Cormorant Infant;
  --font-inter: Inter;
  --font-pt-sans: PT Sans;

  --fs-10: 10px;
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-25: 25px;
  --fs-26: 26px;
  --fs-32: 32px;
  --fs-40: 40px;
  --fs-62: 62px;

  --border-1: 1px solid var(--dark-blue);
  --border-2: 1px solid var(--dark-green);
  --border-3: 1px solid var(--white);
  --border-4: 1px solid var(--color-palevioletred);
  --border-5: 1px solid var(--color-gainsboro-100);

  --gradient-1: linear-gradient(
    180deg,
    var(--color-gray-200),
    rgba(255, 255, 255, 0)
  );

  --height-1: 1px;
  --height-8: 8px;
  --height-12: 12px;
  --height-17: 17px;
  --height-22: 22px;
  --height-23: 23px;
  --height-24: 24px;
  --height-26: 26px;
  --height-30: 30px;
  --height-31: 31px;
  --height-32: 32px;
  --height-33: 33px;
  --height-34: 34px;
  --height-39: 39px;
  --height-40: 40px;
  --height-50: 50px;
  --height-231: 231px;
  --height-278: 278px;
  --height-536: 536px;
  --height-16_2: 16.2px;
  --height-19_2: 19.2px;
  --height-26_3: 26.3px;
  --height-31_5: 31.5px;
  --height-32_6: 32.6px;
  --height-36_5: 36.5px;
  --height-5_1: 5.1px;
  --width-8: 8px;
  --width-16: 16px;
  --width-19: 19px;
  --width-22: 22px;
  --width-24: 24px;
  --width-25: 25px;
  --width-26: 26px;
  --width-30: 30px;
  --width-32: 32px;
  --width-34: 34px;
  --width-37: 37px;
  --width-40: 40px;
  --width-50: 50px;
  --width-59: 59px;
  --width-72: 72px;
  --width-99: 99px;
  --width-104: 104px;
  --width-160: 160px;
  --width-192: 192px;
  --width-213: 213px;
  --width-224: 224px;
  --width-256: 256px;
  --width-30_9: 30.9px;
  --width-32_1: 32.1px;

  --lh-20: 20px;
  --lh-22: 22px;
  --lh-30: 30px;
  --lh-56: 56px;

  --ls--0_03: -0.03;

  --left-0: 0px;
  --top-0: 0px;
}